<!-- WARNING -->
<!-- This README.md file is generated automatically. Changes have to be made in ./PETS_README.md.tftpl -->
<!-- WARNING -->
# Pets

This is a readme about the name of my pets generated using [Terraform template file](https://developer.hashicorp.com/terraform/language/functions/templatefile)

**${human_name}** is taking its dog **${dog_name}** for a walk.

![Pet drawing](${drawing_path})
